.gokart-item {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    background: #fff;
}

.component-item {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    background: #fff;
}

.fault-item {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    background: #fff;
}

.service-item {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    background: #fff;
}

.highlight {
    background: #fafafa;
    border: 2px solid rgba(0, 0, 0, 0.8);
    box-shadow: 10px 10px 20px rgba(82, 150, 255, 0.18);
}
