<form class="loginForm">
    <div>
        <label><strong>Email:</strong></label>
        <input type="text" placeholder="Enter Email" class="loginEmail" />
    </div>

    <div>
        <label><strong>Password:</strong></label>
        <input
            type="password"
            placeholder="Enter Password"
            class="loginPassword"
        />
    </div>

    <div class="message"></div>

    <div class="button-row">
        <button type="submit" class="modifier" id="submitBtn">Log In</button>
        <button type="button" class="modifier" id="signupBtn">Sign Up</button>
    </div>
</form>
