<form class="loginForm">
    <div>
        <label><strong>Username:</strong></label>
        <input type="text" placeholder="Enter email" class="loginEmail" />
    </div>

    <div>
        <label><strong>Password:</strong></label>
        <input
            type="password"
            placeholder="Enter Password"
            class="loginPassword"
        />
    </div>

    <div class="message"></div>

    <div>
        <button type="submit" class="modifier" id="submitBtn">
            Log In
        </button>
    </div>
</form>
