<form class="loginForm">
    <div>
        <label><strong>Name:</strong></label>
        <input type="text" placeholder="Enter Your Name" class="loginName" />
    </div>

    <div>
        <label><strong>Surname:</strong></label>
        <input
            type="text"
            placeholder="Enter Your Surname"
            class="loginSurname"
        />
    </div>

    <div>
        <label><strong>Email:</strong></label>
        <input type="text" placeholder="Enter Email" class="loginEmail" />
    </div>

    <div>
        <label><strong>Password:</strong></label>
        <input
            type="password"
            placeholder="Enter Password"
            class="loginPassword"
        />
    </div>

    <div class="message"></div>

    <div class="button-row">
        <button type="submit" class="modifier" id="submitBtn">Sign Up</button>
    </div>
</form>
